<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/product/list}">List Product</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/product/create-product}">Create Product</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" value="Search" type="submit">Search</button>
        </form>
    </div>
</nav>
Language: <a href="?lang=en">English</a> |  <a href="?lang=vn">Vietnamese</a>
<div class="container">
    <table class="table table-hover" style="border: 1px solid black">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Describes</th>
            <th scope="col">Category_Name</th>
            <th scope="col">brand</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pro:${products}">
            <td th:text="${pro.id}"></td>
            <td style="width: 200px"><img class="card-img-top" th:src="@{/images/{img}(img=${pro.getImage()})}"
                     width="180px" height="180px"/></td>
            <td th:text="${pro.productName}"></td>
            <td th:text="${pro.price}"></td>
            <td th:text="${pro.describes}"></td>
            <td th:text="${pro.category.name}"></td>
            <td th:text="${pro.brand}"></td>
            <td>
                <a th:href="@{/product/edit-product/{id}(id=${pro.id})}">Edit</a>
                <a th:href="@{/product/delete-product/{id}(id=${pro.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/product/list'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/product/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
    </div>
</div>

</body>
</html>