<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{deleteCustomer}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/market-store-icon.jpg" alt="Avatar" class="avatar" style="border-radius: 50%; width: 50px;height: 50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/product/list}" th:text="#{listProduct.href}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/brand/list}" th:text="#{listProduct.href2}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/category/list}" th:text="#{listProduct.href1}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/type/list}" th:text="#{listProductType}"></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/customer_list}" th:text="#{ListCustomer}"></a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" value="Search" type="submit" th:text="#{listProduct.search}"></button>
        </form>
    </div>
</nav>
<span th:text="#{listProduct.language}"></span> <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>
<br>

<div style="margin: auto; width: 800px">
    <br>
    <form th:action="@{/admin/customer_delete}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}">
        <table class="table table-striped row" style="margin: auto">
            <tr>
                <td th:text="#{IdCustomer.id}"></td>
                <td>
                    <input type="text" th:field="${customer.username}">
                </td>
            </tr>
            <tr>
                <td th:text="#{nameCustomer}"></td>
                <td>
                    <input type="text" th:field="${customer.username}">
                </td>
            </tr>
            <tr>
                <td th:text="#{passCustomer}"></td>
                <td>
                    <input type="text" th:field="${customer.password}">
                </td>
            </tr>
            <tr>
                <td th:text="#{PhoneCustomer}"></td>
                <td>
                    <input type="text" th:field="${customer.phone}">
                </td>
            </tr>
            <tr>
                <td th:text="#{AddressCustomer}"></td>
                <td>
                    <input type="text" th:field="${customer.address}">
                </td>
            </tr>
            <tr>
                <td><input type="submit" th:text="#{deleteBrand}"></td>
            </tr>
        </table>
    </form>
    <br>
</div>

</body>

<br>
<a th:href="@{/logout}" style="margin-left: 100px" th:text="#{logout}"></a>
</html>