<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Customer.title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/market-store-icon.jpg" alt="Avatar" class="avatar" style="border-radius: 50%; width: 50px;height: 50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/product/list}" th:text="#{listProduct.href}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/brand/list}" th:text="#{listProduct.href2}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/category/list}" th:text="#{listProduct.href1}"> </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/type/list}" th:text="#{listProductType}"></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/customer_list}" th:text="#{ListCustomer}"></a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" value="Search" type="submit" th:text="#{listProduct.search}"></button>
        </form>
    </div>
</nav>
<span th:text="#{listProduct.language}"></span> <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>
<br>
<hr>
<div style="margin: auto; width: 800px">
    <br>
    <form style="margin-left: 100px">
        <span th:text="#{listProduct.search}"></span>
        <input type="text" name="s">
        <input type="submit" th:value="Search">
    </form>
    <br>
    <table class="table table-striped row" style="margin: auto">
        <tr>
            <td th:text="#{IdCustomer.id}" style="width: 100px"></td>
            <td th:text="#{nameCustomer}" style="width: 200px"></td>
            <td th:text="#{passCustomer}" style="width: 200px"></td>
            <td th:text="#{PhoneCustomer}" style="width: 150px"></td>
            <td th:text="#{AddressCustomer}" style="width: 200px"></td>
            <td style="width: 50px"></td>
            <td style="width: 50px"></td>
        </tr>

        <th:block th:each="customer : ${customers}">
            <tr>
                <td th:text="${customer.getId()}"></td>
                <td th:text="${customer.getUsername()}"></td>
                <td th:text="${customer.getPassword()}"></td>
                <td th:text="${customer.getPhone()}"></td>
                <td th:text="${customer.getAddress()}"></td>
                <td><a th:href="@{/admin/customer_edit/__${customer.id}__}" th:text="#{editProductType}"></a></td>
                <td><a th:href="@{/admin/customer_delete/__${customer.id}__}" th:text="#{deleteBrand}"></a></td>
            </tr>
        </th:block>
    </table>
    <br>
    <a th:href="@{/logout}" style="margin-left: 100px" th:text="#{logout}"></a>
</div>
<div>
    <a th:href="@{'/admin/customer_list'(page=${customers.number - 1})}"
       th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/admin/customer_list'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
<!--<div sec:authorize="isAuthenticated()">-->
<!--    <div sec:authoriza="hasRole('ADMIN')">-->
<!--        <div style="margin-left: 40px">-->
<!--            <a th:href="@{'/customer_list'(page=${customers.number - 1})}" th:if="${products.hasPrevious()}" th:text="previous"></a>-->
<!--            <span th:text="${customers.number + 1}"></span>/<span th:text="${products.totalPages}"></span>-->
<!--            <a th:href="@{'/customer_list'(page=${customers.number + 1})}" th:if="${products.hasNext()}"th:text="next"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>