<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div style="margin: auto; width: 800px">
    <h1>Delete customer?</h1>
    <br>
    <form th:action="@{/customer_delete}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}">
        <table class="table table-striped row" style="margin: auto">
            <tr>
                <td>ID</td>
                <td>
                    <input type="text" th:field="${customer.username}">
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" th:field="${customer.username}">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" th:field="${customer.password}">
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    <input type="text" th:field="${customer.phone}">
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" th:field="${customer.address}">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Delete"></td>
                <td><a th:href="@{/customer_list}">No</a></td>
            </tr>
        </table>
    </form>
    <br>
</div>

</body>

</body>f
</html>